<div class="content">
    <main aria-role="main">
      <style type="text/css">
      .bgimg {
          background-image: url('assets/landing');
          height: 500px;
          width: 900px;
	  margin-right:auto;
	  margin-left:auto;
	  margin-top: 15%;
	}
     
      .subheading {
	margin-right:auto;
	margin-left:auto;
	text-align:center;
	padding: 10px;
	}

      </style>

    <div class="bgimg"></div>
    <div class="subheading">I just wondered how things were put together - Claude Shannon</div>

</main>
</div>
