<div class="content">
    <main aria-role="main">
      <style type="text/css">
      .bgimg {
          background-image: url('assets/landing');
          height: 500px;
          width: 900px;
	  position: fixed;
	  top: 12%;
	  left: 18%;
      }
      .hstyle {
          line-height: 500px;
      }
      </style>

    <div class="bgimg">
        <h1 class="hstyle"></h1>
    </div>

    <div style="position:fixed;top:77%;left:32%;">
        <p>I just wondered how things were put together - Claude Shannon</p>
    </div>

</main>
</div>
