<img class="bgimg" src="assets/landing.jpg" height=500px width=700px>
<div class="name">
  <a href="docs/bio/index.html">Clayton W. Seitz</a>, University of Chicago
  <br>
  <br>
  "All models are wrong, but some are useful" - George Box 
  <br>
  <br>
</div>
<div class="subheading">
  <ul>
  <li>2021-2022 <a href="docs/fdl/index.html">Deep Learning</a></li>
  <li>2021-2022 <a href="docs/info/index.html">Information Theory</a></li>
  <li>2021-2022 <a href="docs/sm/index.html">Probabilistic Methods</a></li>
  <li>2021-2022 <a href="docs/phd/index.html">Dissertation</a></li>
  <li>2022-2022 <a href="docs/qm/index.html">Quantum Mechanics</a></li>

  </ul>
</div>
