<img class="bgimg" src="assets/landing.jpg" height=500px width=700px>
<div class="name">
  <a href="docs/personal/index.html">Clayton W. Seitz</a>, University of Chicago
  <br>
  <br>
</div>
<div class="subheading">
  <ul>
  <li>1995-2021 <a href="docs/phil/index.html">Philosophies</a></li>
  <li>2017-2020 <a href="docs/iplm/index.html">Image Processing & Light Microscopy</a></li>
  <li>2021-2021 <a href="docs/dsa/index.html">Data Structures and Algorithms</a></li>
  <li>2021-2021 <a href="docs/fdl/index.html">Fundamentals of Deep Learning</a></li>
  <li>2021-2021 <a href="docs/info/index.html">Information and Coding Theory</a></li>
  <li>2021-2021 <a href="docs/rsnn/index.html">Stochastic Computation in Recurrent Networks of Spiking Neurons</a></li>

  </ul>
</div>
