<img class="bgimg" src="assets/landing.jpg" height=500px width=700px>
<div class="name">
  <a href="docs/bio/index.html">Clayton W. Seitz</a>, University of Chicago
  <br>
  <br>
</div>
<div class="subheading">
  <ul>
  <li>2017-2020 <a href="docs/iplm/index.html">Image Processing & Light Microscopy</a></li>
  <li>2021-2022 <a href="docs/fdl/index.html">Fundamentals of Deep Learning</a></li>
  <li>2021-2022 <a href="docs/info/index.html">Information and Coding Theory</a></li>
  <li>2021-2022 <a href="docs/hdss/index.html">Stochastic Methods for Biological Systems</a></li>

  </ul>
</div>
