<div class="row">
  <div class="column">
    <a href="200707_Boca-Grande_004.jpg"><img src="200707_Boca-Grande_004.jpg"></a>
    <a href="200709_South-Florida_006.jpg"><img src="200709_South-Florida_006.jpg"></a>
    <a href="200709_South-Florida_033.jpg"><img src="200709_South-Florida_033.jpg"></a>
    <a href="200709_South-Florida_042.jpg"><img src="200709_South-Florida_042.jpg"></a>
  </div>
  <div class="column">
    <a href="200803_Medicine-Bow_026.jpg"><img src="200803_Medicine-Bow_026.jpg"></a>
    <a href="200803_Medicine-Bow_048.jpg"><img src="200803_Medicine-Bow_048.jpg"></a>
    <a href="200803_Medicine-Bow_096.jpg"><img src="200803_Medicine-Bow_096.jpg"></a>
    <a href="200803_Medicine-Bow_098.jpg"><img src="200803_Medicine-Bow_098.jpg"></a>
  </div>
  <div class="column">
    <a href="200804_Shoshone_005.jpg"><img src="200804_Shoshone_005.jpg"></a>
    <a href="200805_Grand-Tetons_011.jpg"><img src="200805_Grand-Tetons_011.jpg"></a>
    <a href="200805_Yellowstone_017.jpg"><img src="200805_Yellowstone_017.jpg"></a>
    <a href="200805_Yellowstone_023.jpg"><img src="200805_Yellowstone_023.jpg"></a>
  </div>
  <div class="column">
    <a href="200805_Yellowstone_030.jpg"><img src="200805_Yellowstone_030.jpg"></a>
    <a href="200805_Yellowstone_041.jpg"><img src="200805_Yellowstone_041.jpg"></a>
    <a href="200805_Yellowstone_047.jpg"><img src="200805_Yellowstone_047.jpg"></a>
    <a href="200806_Mount-Rushmore_001.jpg"><img src="200806_Mount-Rushmore_001.jpg"></a>
  </div>
</div>
